/* css untuk tampilan login */
.logo{
  padding: 20px;
  height: auto;
  /* width: 100%; */
}
.login{
  height: calc(100% - 73px);
  width: 100%;
}
.judul{
    font-style: 'MADE TOMMY!important';
    text-align: center;
    font-size: larger;
    padding: 5px;
}
.text-box{
  padding: 15px;
}
.check-box{
  font-size: small;
}
form {
    text-align:left;
}
input[type=username], input[type = password]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
} 
button {
    color: white;
    /* padding: 12px 20px; */
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

