.button-nav{
    color: black;
    background-color: transparent;
    border-color: white;
}

.card > .background-icon{
    color: rgb(255 255 255 / 37%);
    z-index: 0;
}
.card > .background-icon > svg{
    font-size: 90px;
    position: absolute;
    right: 15px;
    top: 20px;
    transition: all 0.3s linear;
}
